$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$gris: #eaeaea;
$gris_clair: #f6f6f6;
$white: #ffff;
$black: #000000;
$new: #008766;
$icone:#808080;

@mixin degrade{
    background: linear-gradient(350deg,$primaire,$secondaire)
}
@mixin like{
    float: right;
    margin-left: auto;
    margin-right: 5%;
    font-size: 24px;
    padding-left: 0px;
    width: 24px;
}
@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    text-align: center;
}
@mixin font-22px {
    font-size: 22px;
}
@mixin number{
    border-radius: 100%;
    color: $white;
    background-color: $primaire;
    padding:4px 8px 4px 8px;
    margin-left: -12px;
    font-size: 12px;
    box-shadow: none;
}
@mixin shadow{
    box-shadow: inset 0 0 0 , 4px 4px 10px rgb(198,198,198);
}

@mixin scale105{
    transform: scale(1);
    transition-duration: 200ms;
    &:hover{
        transform: scale(1.05);
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Shrikhand&display=swap');

.background_border{
    width: 70%;
    left:15%;
    border-radius: 30px 30px 0 0;
}
.background_color{
    background-color: $white;
}

.container_info{
    width: 50%;
    display:flex;
    height: 350px;
    border-radius: 0 0 20px 20px;
    .h1_placement{
        margin-top: 2%; 
        text-align: center;
    }
    &_btn{
        margin-top: 80px;
    }
    &_text{
        margin-top: 12px;
    }
    &_taille h1{
        justify-content: center;
        width: 90%;
    }
}

.container_fonctionnement{
    width: 50%;
    display:flex;
    &_titre{
      margin-top: 2%;  
      text-align: center;
    } 
    & span{
        width: 400px;
    }
}

#container_biginfo{
    display:flex;
    flex-wrap: wrap;
}

.container_restaurants{
    border-radius: 20px;
    flex-wrap: wrap;
    .clicrestaurants{
        height: 380px;
        width: 440px;
        .indeximg{
            height: 310px;
        }
    }
    &_titre{
        margin:0;
        justify-content:center ;
    }
    & i{
        position: relative;
    }
}
.Container_restaurants_liste{
    display:flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    min-width: 993px;
    max-width: 1920;
    .btn_nouveau{
        margin-left: 330px;
    }
}
.coeur1{ 
    @include like;
}
.coeur2{
    @include like;
}
.coeur3{
    @include like;
}

#entete{
    justify-content: center;
}


.container_titre{
    justify-content: center;
    display: flex;
}

.container_repas{
    flex-direction: row;
    justify-content: center;
    margin: 0;
    height: auto;
    min-height: 115px;
    max-height: 200px;
    width: 100%;
    flex-wrap: wrap;
    .btn_repas{
        margin-top: 30px;
        width: 315px;
        margin-right: 12px;
        margin-left: 12px;
        min-width: 250px;
        max-width: 350px;
    }
}



.animationcoeur{
    margin-left: 48px;
    transition-delay: 0;
    &:hover{
        background: linear-gradient(90deg,$primaire,$secondaire);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 800;
    }
}



.container_fonctionnement{
    & a{
        transform: scale(1);
        transition-duration: 200ms;
        &:hover{
            transform: scale(1.05);
            color: $primaire;
        }
    }
    & span{
        transform: background-color 200ms;
        transition-duration: 200ms;
        &:hover{
            background-color: rgba( 147, 86, 220, 0.1);
        }
    } 
    & i{
        transition-duration: 200ms;
        &:hover{
            color: $primaire;
        }
    }
}


.container_restaurants{
    & a{
        @include scale105;
    }
}

.container_info_btn{
    @include scale105;
}

.btn_repas{
    @include scale105;
}
.btn_commander{
    @include scale105;
}












