$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$gris: #eaeaea;
$gris_clair: #f6f6f6;
$white: #ffff;
$black: #000000;
$new: #008766;
$icone:#808080;

@mixin degrade{
    background: linear-gradient(350deg,$primaire,$secondaire)
}

@mixin scale105{
    transform: scale(1);
    transition-duration: 200ms;
    &:hover{
        transform: scale(1.05);
    }
}

@mixin like{
    float: right;
    margin-left: auto;
    margin-right: 5%;
    font-size: 24px;
    padding-left: 0px;
    width: 24px;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    text-align: center;
}
@mixin font-22px {
    font-size: 22px;
}
@mixin number{
    border-radius: 100%;
    color: $white;
    background-color: $primaire;
    padding:4px 8px 4px 8px;
    margin-left: -12px;
    font-size: 12px;
    box-shadow: none;
}
@mixin shadow{
    box-shadow: inset 0 0 0 , 4px 4px 10px rgb(198,198,198);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Shrikhand&display=swap');



h4{
    font-family: roboto;
}
p{
    font-family: rooto;
}

.coeur_title{
    float: right;
}

.main_img{
    height: 170px;
}
.background_border{
    border-style: solid;
    border-radius: 30px;
    background-color: $gris_clair;
    position:relative;
    border-color: $gris_clair;
}

h1{
    font-family: Shrikhand;
    font-size: 24px;
}

span {
    font-family: Roboto;
    font-weight: 300;
}
header{
    background-color: $white;
}
body{
    margin:0;
}
a{
    text-decoration: none;
    color: $black;
}
.logoheader{
    height: 34px;
    width: auto;
}

header a{
    position:absolute;
    display: flex;
    align-items: center;
    height: 50px;
}
.container_logo{
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    height: 50px;
    width: 100%;
 
}

.logo_img{
    width: auto;
    height: 20px;
}
.headerimg{
    display: flex;
    margin: 20px 0 20px 0;
    justify-content: center;
}
.header_lieu{
    display: flex;
    justify-content: center;
    background-color: $gris;
    height: 60px;
    align-items: center;
    & i{
       padding-right: 16px;
       
    }
}

.container_info{
    display:flex;
    justify-content: center;
    height: 270px;
    background-color: $gris_clair;
    &_taille {
        display:flex;
        flex-direction: column;
        text-align: center;
        & h1{
            font-size: 22px;
            display:flex;
            width: 70%;
            font-family: roboto;
        }
    }
    .h1_placement{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 20px;
    }
    &_text{
        font-size: 16px;
        margin-top: -12px;
    }
    &_btn{
        margin-top: 48px;
        font-size: 18px;
        & span{
            @include degrade;
            padding: 16px 24px 16px 24px;
            border-radius: 40px;
            color: $white;
            font-weight: 400;
            @include shadow;
        }
    }
}

.container_fonctionnement{
    display:flex;
    flex-direction: column;
    height: 400px;
    & span{
        margin: 0 20px 0 30px;
        padding: 24px 0 24px;
        background-color: $gris_clair;
        border-radius: 20px;
        font-size: 16px;
        width: 85%;
        font-weight: bold;
        @include shadow;
    }
    &_titre{
        margin-left: 5%;
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 16px;
        font-family: roboto;
        
    }
    &_btn{
        display:flex;
        flex-direction: column;
        height: 240px;
        justify-content: space-evenly;
        align-items: center;
        & a{
            width: 100%;
        }
    }
}
.fonctionnement_size{
    display:flex;
    justify-content: center;
    margin:12px 0 12px 0;
    & .fas{
    margin-right: 24px;
    color: $icone;
    font-size: 18px;
    }
}

#number1{
    @include number;
}
#number2{
    @include number;
}
#number3{
    @include number;
}

.background_main{
    background-color: $gris_clair;
}
.img_principal{
    height: 200px;
    width: 100%;
    object-fit: cover;
}


.entete{
    text-decoration: underline;
    text-decoration-color: $tertiaire;
    font-family: roboto;
    font-size: 18px;
    display: flex;
    margin-left: 3%;
    margin-top: 24px;
    margin-bottom: 12px;
}


.container_restaurants{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $gris_clair;
    width: 100%;
    & a{
        text-decoration: none;
        color: $black;
    }
    &_titre{
        display:flex;
        margin: 20px 0 12px 14%;
        width: 100%;
        font-family: roboto;
    }
    
}
.Container_restaurants_liste {
    display:flex;
    flex-direction: column;
    width: 90%;
}
.coeur{
    display: flex;
    float:right;
    margin-left: auto;
    position: relative;
    margin-right: 5%;
}


.btn_nouveau{
    position: absolute;
    background-color: $tertiaire;
    font-size: 14px;
    width: 70px;
    text-align: center;
    padding:8px 0 8px 16px;
    display:flex;
    margin-left: 65%;
    color: $new;
}
.margin_clic{
    margin-left: 12px;
}
.clicrestaurants{
    display: flex;
    flex-direction: column;
    height: 240px;
    margin-bottom: 20px;
    width: 100%;
    background-color: $white;
    border-radius: 16px;
    @include shadow;
    & span{
    margin-top: 8px;
    }
    & i{
        padding-top: 8px;
        position: relative;
        font-size: 20px;
    }
}

.indeximg{
    display:flex;
    height: 170px;
    width:100%;
    object-fit:cover;
    justify-content: center;
    border-radius: 16px 16px 0 0;
}

.container_repas{
    width: 97%;
    margin: 0 0 0 2%;

}

.btn_repas{
    height: fit-content;
    width: 94%;
    margin:10px 0 10px 0;
    display: flex;
    border-radius: 15px;
    background-color: $white;
    padding: 10px;
    @include shadow;
    cursor: pointer;
    overflow: hidden;
    & span{
    margin:4px 0 0 8px;
    font-size: 14px;

    }
}
#margin_soustext{
    margin-left: 12px;
    margin-top: -2px;
}

.description{
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &_titre{
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 14px;
    }
    &_ingredient{
        margin: 0;
        font-family: roboto;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 12px;
    }
}
.background_color{
    background-color: $gris_clair;
}

.container_btn{
    justify-content: center;
    display:flex;
    height: 150px;
    background-color: $gris_clair;
}
.btn_commander{
    display:flex;
    margin:40px 0 40px 0;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 160px;
    @include degrade;
    @include shadow;
    border-radius: 60px;
    & span{
        color: $white;
        font-size: 12px;
    }
}
.container_titre{
    margin:5%;
}
.retour{
    margin-left: 5%;
}
.bold{
    font-weight: bold;
}

footer{
   background-color: rgb(53, 53, 53);
   padding-bottom: 10px;
   padding-left: 20px;
   display: flex;
   flex-direction: column;
   & a{
        text-decoration: none;
        color: $white;
        margin: 4px 0 4px 0;
        font-size: 12px;
        &:hover{
            text-decoration: underline;
        }
   }
   & h2{
        color: $white;
        font-family: Shrikhand;
        font-size:18px;
    }
}
.fa-utensils{
    margin-right: 4px;
}
.fa-hands-helping{
    font-size: 10px;
    margin-right: 4px;
}



.logofooter{
    height: 20px;
    width: auto;
    margin: 20px 0 0 0;
}


.container_restaurants{
    & a{
        @include scale105;
    }
}

.container_info_btn{
    @include scale105;
}

.btn_repas{
    @include scale105;
}
.btn_commander{
    @include scale105;
}

.animationcoeur{
    transition-delay: 0.01s;
    animation-fill-mode: both;
    &:hover{
        background: linear-gradient(90deg,$primaire,$secondaire);
        font-weight: 800;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation: coeur 1s;
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@keyframes coeur{
    0%{opacity: 0;
        animation-timing-function: ease-in-out;}
    50%{opacity: 0.5;
        animation-timing-function: ease-in-out;}
    100%{opacity:1;
        animation-timing-function: ease-in-out;}

}



.container_fonctionnement{
    & a{
        transform: scale(1);
        transition-duration: 200ms;
        &:hover{
            transform: scale(1.05);
            color: $primaire;
        }
    }
    & span{
        transform: background-color 200ms;
        transition-duration: 200ms;
        &:hover{
            background-color: rgba( 147, 86, 220, 0.1);
        }
    } 
    & i{
        transition-duration: 200ms;
        &:hover{
            color: $primaire;
        }
    }
}




.btn_repas{
    &_valide{    
        display:flex;
        align-items: center;
        justify-content: center;
        background-color: $tertiaire;
        color: $white;
        width: 60px;
        height: 60px;
        border-radius: 0 11px 11px 0;
        overflow: hidden;
        font-size: 20px;
        &:hover{
            transform: scale(1);
            transition: all 200ms;
            width: 60px;

        }     
    }  
}
.price{
    margin-right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.animationcheck{
    height: 0px;
    margin-top: -14px;
    margin-right: -70px;
    transform: rotate(360deg);
    transition-duration: .5s;
}




.description_ingredient{
    font-family: roboto;

}
.loader{
    height: 100%;
    top:0;
    left: 0;
    width: 100%;
    background-color: $white;
    position: fixed;
    animation: loader 0.01s;
    animation-delay: 3s ;
    animation-fill-mode: both;
    z-index: 1;
    animation-timing-function: ease-in-out;
    
}




@keyframes loader {
    0% {
        animation-timing-function: ease-in;
        opacity: 0.5;
    }
    100% {
        animation-timing-function: ease-out;
        opacity: 0;
        height: 0px;
        width: 0px;
    }

}






.loader_container {
    border: 16px solid $icone;
    border-top: 16px solid $primaire;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 3s linear;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -76px 0 0 -54px;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;  
}

  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(1080deg); }
  }
  
  @keyframes spin {
    0% { 
        transform: rotate(0deg);
        opacity: 0;
    }
    10% { 
        transform: rotate(108deg);
        opacity: 1;
    }
    50% { 
    transform: rotate(540deg);
    opacity: 0.75;
    }
    80% { 
        transform: rotate(720deg);
        opacity: 0.5;
    }
    100% { 
    transform: rotate(1080deg);
    opacity: 0;
    }
      
  }


.description :hover + .animationcheck{
    transform: translateX(60px) ;
}

.btn_repas:hover{
    .animationcheck{
        transform: translateX(-60px);
        margin-left: 60px;
    }
}