@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Shrikhand&display=swap");
.coeur_title {
  float: right;
}

.main_img {
  height: 170px;
}

.background_border {
  border-style: solid;
  border-radius: 30px;
  background-color: #f6f6f6;
  position: relative;
  border-color: #f6f6f6;
}

h1 {
  font-family: Shrikhand;
  font-size: 24px;
}

span {
  font-family: Roboto;
  font-weight: 300;
}

header {
  background-color: #ffff;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

.logoheader {
  height: 34px;
  width: auto;
}

header a {
  position: absolute;
  display: flex;
  align-items: center;
  height: 50px;
}

.container_logo {
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  height: 50px;
  width: 100%;
}

.logo_img {
  width: auto;
  height: 20px;
}

.headerimg {
  display: flex;
  margin: 20px 0 20px 0;
  justify-content: center;
}

.header_lieu {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  height: 60px;
  align-items: center;
}
.header_lieu i {
  padding-right: 16px;
}

.container_info {
  display: flex;
  justify-content: center;
  height: 270px;
  background-color: #f6f6f6;
}
.container_info_taille {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.container_info_taille h1 {
  font-size: 22px;
  display: flex;
  width: 70%;
  font-family: roboto;
}
.container_info .h1_placement {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}
.container_info_text {
  font-size: 16px;
  margin-top: -12px;
}
.container_info_btn {
  margin-top: 48px;
  font-size: 18px;
}
.container_info_btn span {
  background: linear-gradient(350deg, #9356DC, #FF79DA);
  padding: 16px 24px 16px 24px;
  border-radius: 40px;
  color: #ffff;
  font-weight: 400;
  box-shadow: inset 0 0 0, 4px 4px 10px #c6c6c6;
}

.container_fonctionnement {
  display: flex;
  flex-direction: column;
  height: 400px;
}
.container_fonctionnement span {
  margin: 0 20px 0 30px;
  padding: 24px 0 24px;
  background-color: #f6f6f6;
  border-radius: 20px;
  font-size: 16px;
  width: 85%;
  font-weight: bold;
  box-shadow: inset 0 0 0, 4px 4px 10px #c6c6c6;
}
.container_fonctionnement_titre {
  margin-left: 5%;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 16px;
  font-family: roboto;
}
.container_fonctionnement_btn {
  display: flex;
  flex-direction: column;
  height: 240px;
  justify-content: space-evenly;
  align-items: center;
}
.container_fonctionnement_btn a {
  width: 100%;
}

.fonctionnement_size {
  display: flex;
  justify-content: center;
  margin: 12px 0 12px 0;
}
.fonctionnement_size .fas {
  margin-right: 24px;
  color: #808080;
  font-size: 18px;
}

#number1 {
  border-radius: 100%;
  color: #ffff;
  background-color: #9356DC;
  padding: 4px 8px 4px 8px;
  margin-left: -12px;
  font-size: 12px;
  box-shadow: none;
}

#number2 {
  border-radius: 100%;
  color: #ffff;
  background-color: #9356DC;
  padding: 4px 8px 4px 8px;
  margin-left: -12px;
  font-size: 12px;
  box-shadow: none;
}

#number3 {
  border-radius: 100%;
  color: #ffff;
  background-color: #9356DC;
  padding: 4px 8px 4px 8px;
  margin-left: -12px;
  font-size: 12px;
  box-shadow: none;
}

.background_main {
  background-color: #f6f6f6;
}

.img_principal {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

#entete {
  text-decoration: underline;
  text-decoration-color: #99E2D0;
  font-family: roboto;
  font-size: 18px;
  display: flex;
  margin-left: 3%;
  margin-top: 24px;
  margin-bottom: 12px;
}

.container_restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  width: 100%;
}
.container_restaurants a {
  text-decoration: none;
  color: #000000;
}
.container_restaurants_titre {
  display: flex;
  margin: 20px 0 12px 14%;
  width: 100%;
  font-family: roboto;
}

.Container_restaurants_liste {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.coeur {
  display: flex;
  float: right;
  margin-left: auto;
  position: relative;
  margin-right: 5%;
}

.btn_nouveau {
  position: absolute;
  background-color: #99E2D0;
  font-size: 14px;
  width: 70px;
  text-align: center;
  padding: 8px 0 8px 16px;
  display: flex;
  margin-left: 65%;
  color: #008766;
}

.margin_clic {
  margin-left: 12px;
}

.clicrestaurants {
  display: flex;
  flex-direction: column;
  height: 240px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #ffff;
  border-radius: 16px;
  box-shadow: inset 0 0 0, 4px 4px 10px #c6c6c6;
}
.clicrestaurants span {
  margin-top: 8px;
}
.clicrestaurants i {
  padding-top: 8px;
  position: relative;
  font-size: 20px;
}

.indeximg {
  display: flex;
  height: 170px;
  width: 100%;
  object-fit: cover;
  justify-content: center;
  border-radius: 16px 16px 0 0;
}

.container_repas {
  width: 97%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 2%;
}

.btn_repas {
  height: fit-content;
  width: 99%;
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #ffff;
  padding: 10px 0 10px 0;
  box-shadow: inset 0 0 0, 4px 4px 10px #c6c6c6;
}
.btn_repas span {
  margin: 4px 0 0 8px;
  font-size: 14px;
}

#margin_soustext {
  margin-left: 12px;
  margin-top: -2px;
}

.description {
  display: flex;
}
.description .bold {
  margin-right: 5%;
}

.background_color {
  background-color: #f6f6f6;
}

.container_btn {
  justify-content: center;
  display: flex;
  height: 150px;
  background-color: #f6f6f6;
}

.btn_commander {
  display: flex;
  margin: 40px 0 40px 0;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 160px;
  background: linear-gradient(350deg, #9356DC, #FF79DA);
  box-shadow: inset 0 0 0, 4px 4px 10px #c6c6c6;
  border-radius: 60px;
}
.btn_commander span {
  color: #ffff;
  font-size: 12px;
}

.container_titre {
  margin: 5%;
}

.retour {
  margin-left: 5%;
}

.bold {
  font-weight: bold;
}

footer {
  background-color: #353535;
  padding-bottom: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
footer a {
  text-decoration: none;
  color: #ffff;
  margin: 4px 0 4px 0;
  font-size: 12px;
}
footer h2 {
  color: #ffff;
  font-family: Shrikhand;
  font-size: 18px;
}

.fa-utensils {
  margin-right: 4px;
}

.fa-hands-helping {
  font-size: 10px;
  margin-right: 4px;
}

.logofooter {
  height: 20px;
  width: auto;
  margin: 20px 0 0 0;
}

.container_restaurants a {
  transform: scale(1);
  transition-duration: 200ms;
}
.container_restaurants a:hover {
  transform: scale(1.05);
}

.container_info_btn {
  transform: scale(1);
  transition-duration: 200ms;
}
.container_info_btn:hover {
  transform: scale(1.05);
}

.btn_repas {
  transform: scale(1);
  transition-duration: 200ms;
}
.btn_repas:hover {
  transform: scale(1.05);
}

.btn_commander {
  transform: scale(1);
  transition-duration: 200ms;
}
.btn_commander:hover {
  transform: scale(1.05);
}

.animationcoeur {
  transition-delay: 0;
}
.animationcoeur:hover {
  background: linear-gradient(90deg, #9356DC, #FF79DA);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.container_fonctionnement a {
  transform: scale(1);
  transition-duration: 200ms;
}
.container_fonctionnement a:hover {
  transform: scale(1.05);
  color: #9356DC;
}
.container_fonctionnement span {
  transform: background-color 200ms;
  transition-duration: 200ms;
}
.container_fonctionnement span:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.container_fonctionnement i {
  transition-duration: 200ms;
}
.container_fonctionnement i:hover {
  color: #9356DC;
}

#price {
  float: right;
  margin-left: auto;
}

.btn_repas_valide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  color: #ffff;
  width: 1px;
  margin-top: -31px;
  margin-bottom: -11px;
  border-radius: 0 11px 11px 0;
  transform: scale(1);
  transition: all 200ms;
  overflow: hidden;
}
.btn_repas_valide:hover {
  transform: scale(1);
  transition: all 200ms;
  width: 50px;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
